@font-face {
    font-family: 'Balqis';
    src: url('Balqis.eot');
    src: url('Balqis.eot?#iefix') format('embedded-opentype'),
        url('Balqis.woff2') format('woff2'),
        url('Balqis.woff') format('woff'),
        url('Balqis.svg#Balqis') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.nav_menu{
    display: flex;
    justify-content: space-around;
    height: 144px;
    background-color: rgba(209, 186, 186, 1);
    
}


.main{
    width: 100%;
    height: 100%;
    background: url(../img/Rectangle%2043.jpg) no-repeat;
    background-size: 100% 100%;
}

.btns_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btns_nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

.btns_nav ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.number_nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_number_nav{
    display: flex;
    justify-content: space-between;
    width: 105%;
}
.block_number_nav_span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_number_nav span{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.block_main_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
}
.main_text{
    display: flex;
    justify-content: center;
}

.cappadocia{
    font-family: Balqis, sans-serif;
    font-size: 250px;
    font-weight: 400;
}

.exclusive_tour{
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 56px;
    font-style: italic;
    font-weight: 300;
}


.block_main_text_fairy_tail, .block_main_text_our_trip, .block_main_text_hotel, .block_main_text_price{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.block_main_text_price{
    width: 55%;
}

.main_text_fairy_tail, .main_text_our_trip, .main_text_hotel, .main_text_price, .main_text_price2{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.fairy_tail_name, .our_trip_name, .hotel_name, .price_name, .contacts_name{
    font-family: Balqis, sans-serif;
    font-size: 96px;
    color: #E2AB3F;

}

.span_main_text_fairy_tail, .span_main_text_our_trip, .span_main_text_hotel, .span_main_text_price{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    
}


.block_span{
    display: flex;
    justify-content: flex-end;
    width: 420px;
}

.block_span_our_trip{
    display: flex;
    justify-content: flex-end;
    width: 350px;
}

.block_span_hotel{
    display: flex;
    justify-content: flex-end;
    width: 298px;
}

.block_span_price{
    display: flex;
    justify-content: flex-end;
    width: 290px;
}

.fairy_tail_img_text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 1660px;
}

.fairy_tail{
    background-color: rgba(209, 186, 186, 0.3);
}


.block_img img{
    width: 100%;
    height: 100%;
}

.block_text{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 700px;
    justify-content: space-around;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.also_block_text{
    font-weight: 600;
}

.fotorama{
    position: relative;
    border-radius: 15%;
}
.our_trip{
    display: flex;
    justify-content: flex-end;
    background-color: rgba(209, 186, 186, 0.3);
}

.block1_our_trip, .block1_hotel, .block1_price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 90%;
}

.block1_price{
    width: 100%;
}

.block2_price{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    
}

.pustota{
    height: 200px;
    background-color: rgba(209, 186, 186, 0.3);
}

.block1_our_trip{
    position: relative;
    right: 28px;
    width: 80%;
}

.block_text_our_trip{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 58px;
    width: 50%;
    font-family: 'Roboto Condensed', sans-serif;
}

.num_day{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.day1, .day2, .day3, .day4{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.block2_our_trip{
    display: flex;
    width: 1550px;
}

.span_text_our_trip{
    font-size: 24px;
}


.block_main_hotel{
    position: relative;
    left: 110px;
    width: 1199px;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
}

.block2_main_hotel{
    display: flex;
    justify-content: space-between;
}

.block_img_hotel{
    width: 500px;
    height: 700px;
    background-image: url(../img/hotel_main_img.png); 
}
.block_img_text_hotel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 700px;
}

.hotel{
    background-color: rgba(209, 186, 186, 0.3);
}

.hotel_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 270px;
}

.hotel_img{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 350px;
}

.text1, .text2, .text3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.block_img1, .block_img2{
    display: flex;
    width: 600px;
    height: 350px;
}

.block_img1 img{
    width: 290px;
    height: 95%;
}

.block_img2 img{
    width: 290px;
    height: 95%;
}

.block_img1{
    display: flex;
    justify-content: space-between;
}

.block_img2{
    display: flex;
    justify-content: space-between;
}

.block_img3, .block_img4{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.block_main_text_our_trip{
    display: flex;
    justify-content: flex-start;
}

.btn button{
    border: 2px solid #E2AB3F;
    padding: 11px 53px 11px 53px;
    border-radius: 100px;
}

.block_for_price{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
}



.block_price_1_1{
    display: flex;
    position: relative;
    left: -170px;
    justify-content: space-between;
    width: 1300px;
    height: 450px;
}

.block_price_column1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.block_price_column2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.price{
    background-color: rgba(209, 186, 186, 0.3);
}


.price_info_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
    height: 327px;
}
.price_info_2{
     display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 371px;
    height: 327px;
}
.price_info_3{
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 100%;
}

.text_block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text_block span{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.name_block span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.block_for_price2{
    display: flex;
    flex-direction: column;
    height: 220px;
}

.block_for_first_baloon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.first_group_baloon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 275px;
}

.baloon2{
    position: relative;
    left: 80px;
}

.main_text_price2{
    position: relative;
    bottom: 180px;
    left: 130px;
}

.span_main_text_price2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    position: relative;
    left: -60px;
}

.block_price2{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 70%;
    left: 400px;
    top: 200px;
    height: 1000px;
}

.block_price_silence{
    position: relative;
    left: 100px;
    top: -150px;
}

.block_request span{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
}
.block_input{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    font-family: 'Roboto Condensed', sans-serif;
    
}

.block_input input{
    border: 2px solid #E2AB3F;
    padding: 14px 320px 15px 31px;
}

.btn2{
    margin: 0 auto;
}




footer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: url("../img/bg_footer.png") no-repeat;
    background-size: 100% 100%;
}

.footer_baloon{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}


.block_baloon{
    display: flex;
    justify-content: space-evenly;
    width: 86%;
    height: 719px;
}

.baloon{
    position: relative;
    top: 96px;
    display: flex;
    flex-direction: column;
}

.text_baloon{
    position: relative;
    bottom: 430px;
    left: 30px;
}

.block_contacts{
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 400px;
    left: 50px;
    height: 70px;
    justify-content: space-between;
}

.email_contacts img{
    border: 1px solid #E2AB3F;
}

.phone_contacts{
    display: flex;
    position: relative;
    justify-content: space-between;
    left: 35px;
    width: 45%;
}

.phone_contacts span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.email_contacts{
    display: flex;
    justify-content: space-between;
    width: 71%;
}

.email_contacts span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

.block_text_contacts{
    position: relative;
    left: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block_text_contacts span{
    font-size: 86px;
    font-family: Balqis, sans-serif;
    
}

.block_main_text_fairy_tail, .fairy_tail_img_text{
    opacity: 0;
}

.animate__animated animate__fadeInRight{
    opacity: 1;
}

.block1_our_trip{
    opacity: 0;
}
.animate__animated animate__fadeInLeft{
    opacity: 1;
}
.day1, .day2, .day3, .day4{
    opacity: 0;
}

#bron{
    opacity: 0;
}

.block1_hotel{
    opacity: 0;
}

.hotel_text{
    opacity: 0;
}

.animate__animated animate__backInRight{
    opacity: 1;
}

.animate__animated animate__fadeInDown{
    opacity: 1;
}

#hotel1, #hotel2, #hotel3, #hotel4{
    opacity: 0;
}

.price_info_1{
    opacity: 0;
}

.price_info_2{
    opacity: 0;
}

.baloon1, .baloon2, .baloon3{
    opacity: 0;
}



.block_main_text_price{
    opacity: 0;
}

.block_main_text_price{
    opacity: 0;
}

.block_main_text_price2{
    opacity: 0;
}

.woman_price{
    opacity: 0;
}

.block_request{
    opacity: 0;
}

.block_baloon{
    opacity: 0;
}

.black_menu{
    position: fixed !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
}

.black_menu{
    position: fixed;
    z-index: 1000;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgba(209, 186, 186, 1);
    height: 100px;
}

.animate__animated animate__slideInDown{
    opacity: 1;
}


.btns_nav ul li a{
    
}

.btns_nav ul li a:hover{
    font-weight: bold;
}

.text_block2{
    position: relative;
    bottom: 70px;
}

.menu_button{
    width: 100%;
}

.button_menu{
    display: none;
    background: none;
    width: 150px;
    height: 70px;
    background-color: rgba(209, 200, 186, 1);
    border-radius: 20px;
    border: 1px solid black;
}

.button_menu:active{
    background-color: rgba(209, 200, 186, 0.7);
}

.menu_button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    width: 150px;
}

.show_me{
    display: flex !important;
    position: relative;
    opacity: 0;
    top: 54px;
    left: 223px;
    height: 130px;
    width: 140px;
    flex-direction: column !important;
    border: 1px solid black;
    justify-content: space-between !important;
    z-index: 1001;
    text-align: center;
    background-color: rgba(209, 200, 186, 0.7);
    border-radius: 10px;
    
}

.show_me2{
    display: flex !important;
    position: relative;
    top: 31px;
    left: 225px;
    height: 100px;
    width: 135px;
    flex-direction: column !important;
    justify-content: space-between !important;
    z-index: 1001;
    text-align: center;
}

.button_menu span{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.show_op{
    
    opacity: 1 !important;
}

.animate__animated animate__fadeInDown{
    opacity: 0 !important;
}

@media (max-width: 1600px){
    .cappadocia{
        font-size: 200px;
    }
    .exclusive_tour{
        font-size: 40px;
    }
    
    .text_block2{
    position: relative;
    top: 55px;
}
    
    .block_text{
        position: relative;
        right: 130px;
        height: 600px;
    }
    .fotorama_fairy_tail{
        width: 800px;
    }
    
    .fotorama_our_trip{
        width: 700px;
        position: relative;
        right: 180px;
        top: 50px;
    }
    .block_text_our_trip{
        position: relative;
        top: 150px;
        height: 400px;
    }
    
    #bron{
        position: relative;
        top: 50px;
    }
    .block_price_column1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .price_info_1{
        height: 200px;
    }
    .price_info_3{
        width: 230px;
        height: 90%;
    }
    .baloon3{
        width: 150px;
    }
    
    .block_price_1_1{
        position: relative;
        left: -100px;
    }
    .block_request{
        position: relative;
        right: 100px;
    }
}

@media (max-width: 1530px){
    .block_text{
        position: relative;
        right: 200px;
        top: 50px;
        height: 500px;
        width: 35%;
    }
    .fotorama_our_trip{
        width: 550px;
        
    }
    
    .block_text_our_trip{
        position: relative;
        top: 300px;
        left: 100px;
        height: 0px;
    }
    
    .num_day{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    }
    .span_text_our_trip{
        font-size: 20px;
    }
    
    .block_main_text_price, .block_request{
        position: relative;
        right: 250px;
    }
    .block_price_img{
        position: relative;
        right: 100px;
    }
    .main_text_price{
        position: relative;
        left: 250px;
    }
    .block_main_text_price2{
        position: relative;
        right: 500px;
    }
}

@media (max-width: 1460px){
    .block_text{
        position: relative;
        right: 300px;
        top: 50px;
        height: 500px;
        width: 30%;
    }
    .fotorama_our_trip{
        width: 550px;
        
    }
    
    .block_text_our_trip{
        position: relative;
        top: 300px;
        left: 100px;
        height: 0px;
    }
    
    .num_day{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    }
    .span_text_our_trip{
        font-size: 20px;
    }
    
    .block_main_text_price, .block_request{
        position: relative;
        right: 250px;
    }
    .block_price_img{
        position: relative;
        right: 100px;
    }
    .main_text_price{
        position: relative;
        left: 250px;
    }
    .block_main_text_price2{
        position: relative;
        right: 400px;
    }
    .block_name_text_input{
        position: relative;
        left: 110px;
    }
    
    .block_price_1_1{
        position: relative;
        left: -100px;
        width: 1200px;
    }
    
    .block_text_contacts{
        position: relative;
        left: 10px;
    }
}

@media (max-width: 1350px){
    .main{
        height: 100%;
    }
    .block_text{
        position: relative;
        right: 400px;
        top: 50px;
        height: 500px;
        width: 25%;
    }
    .block2_our_trip{
        position: relative;
        right: 100px;
    }
    .fotorama_our_trip{
        width: 550px;
        
    }
    
    .block_text_our_trip{
        position: relative;
        top: 300px;
        left: 100px;
        height: 0px;
    }
    
    .num_day{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    }
    .span_text_our_trip{
        font-size: 20px;
    }
    
    .block_price_column2{
        width: 500px;
    }
    .text_block{
        width: 450px;
    }
    .block_for_price{
        position: relative;
        left: 50px;
    }
    .text_block2{
        position: relative;
        top: 65px;
    }
    
    .block2_price{
        position: relative;
        right: 100px;
    }
    
    .block_main_text_price, .block_request{
        position: relative;
        right: 250px;
    }
    .block_price_img{
        position: relative;
        right: 100px;
    }
    .main_text_price{
        position: relative;
        left: 250px;
    }
    .block_main_text_price2{
        position: relative;
        right: 400px;
    }
    .block_name_text_input{
        position: relative;
        left: 110px;
    }
    
    .block_price_1_1{
        position: relative;
        left: -100px;
        width: 1200px;
    }
    
    .block_text_contacts{
        position: relative;
        left: 10px;
    }
}



@media (max-width: 1250px){
    
    .block_text{
        position: relative;
        right: 500px;
        top: 50px;
        height: 500px;
        width: 20%;
    }
    
    .fotorama_our_trip{
        position: relative;
        right: 250px;
    }
    
    .hotel_text{
        width: 500px;
    }
    
    #hotel1{
        width: 250px;
        height: 150px;
        
    }
    
    #hotel2{
        position: relative;
        right: 80px;
        width: 250px;
        height: 150px;
        
    }
    
    #hotel3{
        width: 250px;
        height: 150px;
        
    }
    
    #hotel4{
        position: relative;
        right: 80px;
        width: 250px;
        height: 150px;
        
    }
    
    
    .price_info_1{
        width: 200px;
    }
    
    
    
    .block_price_1_1{
        position: relative;
        width: 1100px;
    }
    
    .price_info_2{
        position: relative;
        left: 200px;
    }
    
    .block2_price{
        position: relative;
        right: 200px;
    }
    
}



@media (max-width: 1150px){
    .block_img{
        position: relative;
        left: 200px;
    }
    .block_text{
        position: relative;
        top: 650px;
        right: 600px;
        width: 1000px;
        height: 300px;
    }
    .block1_our_trip{
        position: relative;
        top: 300px;
    }
    
    .block1_hotel{
        position: relative;
        top: 400px;
        right: 90px;
    }
    
    .main_text_hotel{
        position: relative;
        left: 90px;
    }
    .block1_price{
        position: relative;
        top: 500px;
    }
    
    .block_price2{
        position: relative;
        top: 600px;
    }
    
    .fotorama_our_trip{
        position: relative;
        right: 350px;
    }
    
}

@media (max-width: 394px){
    .btns_nav ul li{
        display: none;
    }
    
    .block_number_nav{
        position: relative;
        right: 270px;
    }
    
    .menu_button{
        position: relative;
        right: 240px;
    }
    
    .button_menu{
    display: block;
    background: none;
    width: 150px;
    height: 70px;
    background-color: rgba(209, 200, 186, 1);
    border-radius: 20px;
    border: 1px solid black;
}

}











